In [1]:
#Model training

In [2]:
import pandas as pd
df=pd.read_csv("data/gemstone.csv")

In [3]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
df=df.drop(labels=["id"],axis=1)

In [5]:
##independent and dependent features
x=df.drop(labels=['price'],axis=1)
y=df[['price']]

In [6]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [ ]:
#define which columns should be ordinal encoded and which should be scaled , segregating numerical and categorical varaiables
cat_cols=x.select_dtypes(include='object').columns
num_cols=x.select_dtypes(exclude='object').columns

In [8]:
# define the custom ranking for each ordinla varibale
cut_cat=['Fair','Good','Very Good','Premium','Ideal']
color_cat=['D','E','F','H','I','J']
clarity_cat=['I1','SI2','SI1','VS2','VV2','VVS1','IF']